.container {
    align-items: center;
    justify-content: center;
}

.widget {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

h1 {
    margin-left: 3%;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.left-box {
    width: 20%;
    padding: 0 3%;
}

.right-box {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.member {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 30px;
}

.member p {
    margin: 0;
}

.description {
    text-wrap: wrap;
}

.members-list {
    height: 50%;
}

.scroll {
    height: 70%;
    overflow-y: auto;
}

.btn-box {
    display: flex;
    justify-content: end;
    margin: 20px;
    gap: 15px;
}

.member-btn-box {
    display: flex;
    gap: 10px;
}

.modal-container {
    display: flex;
    flex-direction: column;
    background-color: var(--beige);
    border-radius: 10px;
    height: 100%;
    font-family: 'PTSans';
    justify-content: center;
    gap: 20px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 70%;
    align-self: center;
    padding: 20px;
}

.modal-content h3 {
    margin: 0;
}

.modal-search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal-search-bar input {
    border: none;
    height: 25px;
    width: 50%;
    margin-top: 15px;
    box-shadow: 2px 2px 2px #aaaaaa;
}

.user-list {
    overflow-y: auto;
}

.user-info:hover, .active {
    background-color: var(--darkBeige);
    color: white;
}

@media (orientation: portrait) {
    .content {
        flex-direction: column;
        justify-content: start;
    }

    .left-box {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .right-box {
        width: 90%;
        height: 80%;
        padding: 0 3%;
        justify-content: space-between;
    }

    .btn-box {
        flex-wrap: wrap;
    }

    .modal-search-bar input {
        width: 80%;
    }

    .modal-content {
        width: 70%;
    }
}