<div class="container" appContainer>
    <div class="widget" appWidget>
        <div class="header">
            <h1>{{ event.name }}</h1>
            <h3> Właściciel: {{ owner.nickname }}</h3>
        </div>
        <div class="content">
            <div class="left-box">
                <p>{{ event.date }}</p>
                <p>{{ event.place }}</p>
                <p>{{ event.access }}</p>
                <p>
                    {{ 
                        event.members.length+1 +'/'+ event.membersAmount
                    }} {{ 
                        (event.membersAmount%10 >= 2 && event.membersAmount%10 <= 4) && (event.membersAmount%100 < 12 || event.membersAmount%100 > 14) ? ' osoby' : ' osób'
                    }}
                </p>
            </div>
            <div class="right-box">
                <div class="description">
                    <p>{{ event.description }}</p>
                </div>
                <div class="members-list">
                    <p style="font-weight: bold;">Członkowie:</p>
                    <div class="scroll">
                        <p *ngIf="members.length === 0">Brak członków wydarzenia.</p>
                        <div class="member" *ngFor="let member of members">
                            <div class="user-info">
                                <img [src]="member.profileImageUrl" width="30px" height="30px">
                                <p>{{ member.nickname }}<span *ngIf="member.uid === activeUser.uid"> (Ja)</span></p> 
                            </div>
                            <div class="member-btn-box">
                                <button appButton *ngIf="member.uid !== activeUser.uid" (click)="onStartChat(member)">Czat</button>
                                <button appButton *ngIf="event.ownerId === activeUser.uid" (click)="onRemoveMember(member.uid)">Usuń</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-box">
                    <button appButton *ngIf="event.ownerId !== activeUser.uid && !event.members.includes(activeUser.uid)" (click)="onSendRequest()">
                        Poproś o dołączenie
                    </button>
                    <button appButton *ngIf="event.ownerId !== activeUser.uid && event.members.includes(activeUser.uid)" (click)="onLeaveEvent()">
                        Opuść wydarzenie
                    </button>
                    <button appButton *ngIf="event.ownerId === activeUser.uid" (click)="onInviteUser(modalRef)">
                        Zaproś uzytkownika
                    </button>
                    <button appButton *ngIf="event.ownerId === activeUser.uid" (click)="onEditEvent()">
                        Modyfikuj wydarzenie
                    </button>
                    <button appButton *ngIf="event.ownerId === activeUser.uid" (click)="onDeleteEvent()">
                        Usuń wydarzenie
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalRef>
    <div class="modal-container">
        <div class="modal-search-bar">
            <input placeholder="Nazwa użytkownika..." [(ngModel)]="searchPhrase" (ngModelChange)="onInputChange()">
        </div>
        <div class="modal-content" appWidget>
            <h3>Wybierz użytkownika, którego chcesz zaprosić do wydarzenia</h3>
            <p *ngIf="usersList.length === 0">Wyszukiwany użytkownik nie istnieje.</p>
            <p *ngIf="errorMsg.length > 0" style="color: red;">{{ errorMsg }}</p>
            <div class="users-list">
                <div 
                    class="user-info"  
                    [ngClass]="[selectedUserIndex === i ? 'active' : '']" 
                    *ngFor="let user of usersList; let i = index" 
                    (click)="onSelectUser(user, i)"
                >
                    <img [src]="user.profileImageUrl" width="30px" height="30px">
                    <p>{{ user.nickname }}</p>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <button appButton (click)="onSendInvitation()">Wyślij zaproszenie</button>
            <button appButton (click)="onCloseModal()">Anuluj</button>
        </div>
    </div>
</ng-template>