.container {
    align-items: center;
    justify-content: center;
}

.widget {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header {
    padding-left: 3%;
}

h1, h3 {
    margin: 5px 0;
}

h1 {
    font-size: calc(2.5em - 1.5vw + 3vh);
    overflow-x: auto;
}

h3 {
    font-size: calc(1em + 0.3vw);
}

.left-box {
    width: 10%;
    padding: 0 3%;
    overflow-y: auto;
}

.left-box p:nth-child(2) {
    text-wrap: wrap;
}

.right-box {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.member {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    width: 70%;
    height: 30px;
    border-bottom: 1px solid var(--darkRed);
}

.member p {
    margin: 0;
}

.description {
    text-wrap: wrap;
}

.description p {
    margin: calc(2px + 0.5vh) 0;
    overflow-y: auto;
}

.members-list {
    height: 80%;
}

.scroll {
    height: 100%;
    overflow-y: auto;
}

.btn-box, .modal-btn-box {
    display: flex;
    justify-content: end;
    gap: 15px;
    margin-bottom: 10px;
    margin-inline: 10px;
    height: calc(15px + 1vh);
}

.btn-box {
    height: calc(30px + 0.5vw);
}

.member-btn-box {
    display: flex;
    gap: 10px;
}

.modal-container {
    display: flex;
    flex-direction: column;
    background-color: var(--beige);
    border-radius: 10px;
    height: 100%;
    font-family: 'PTSans';
    justify-content: center;
    gap: calc(5px + 1vh + 1vw);
}

.modal-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: calc(70% + 10vh - 10vw);
    align-self: center;
    padding: 20px;
}

.modal-content h3 {
    margin: 0;
}

.modal-search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal-search-bar input {
    border: none;
    height: 25px;
    width: 50%;
    margin-top: 15px;
    box-shadow: 2px 2px 2px #aaaaaa;
}

.users-list {
    overflow-y: auto;
}

.user-info:hover, .active {
    background-color: var(--darkBeige);
    color: white;
}

.user-info {
    display: flex;
    margin: 10px 0;
}

.user-info p, .user-info img {
    align-self: center;
    margin: 5px;
}

@media (orientation: landscape) {
    .header {
        height: calc(20% + 5vh);
    }
}

@media (orientation: portrait) {
    .content {
        flex-direction: column;
        justify-content: start;
    }

    .left-box {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .left-box p {
        text-align: center;
        font-size: calc(0.6em + 1.5vw);
    }

    .right-box h3{
        margin: 0;
    }

    .right-box {
        width: 90%;
        height: calc(80% + 5vh);
        padding: 0 3%;
        font-size: calc(0.6em + 1.5vw);
    }

    .btn-box button {
        font-size: calc(0.6em + 1vw);
        height: calc(20px + 2vw);
    }

    .member-btn-box button {
        font-size: calc(0.4em + 1vw);
        height: calc(20px + 1vw);
    }

    h1 {
        font-size: calc(1.5em + 2.5vw + 0.2vh);
    }
    
    h3 {
        font-size: calc(0.5em + 2.5vw + 0.2vh);
    }

    .members-list {
        height: calc(50% + 10vh);
    }

    .description {
        height: calc(8% + 10vh);
    }

    .scroll {
        height: 86%;
    }

    .btn-box {
        flex-wrap: wrap;
        width: 100%;
        gap: calc(2px + 0.5vh);
    }

    .modal-search-bar input {
        width: 80%;
    }

    .modal-content {
        width: 70%;
    }
}