<div appWidget class="container">
    <h1>{{event.name}}</h1>
    <div class="info">
        <div class="content">
            <p>{{ event.date }}</p>
            <p>{{ event.place }}</p>
            <p>{{ 
                event.members.length+1 +'/'+ event.membersAmount
            }} {{ 
                (event.membersAmount%10 >= 2 && event.membersAmount%10 <= 4) && (event.membersAmount%100 < 12 || event.membersAmount%100 > 14) ? ' osoby' : ' osób'
            }}</p>
            <p>{{ event.access }}</p>
        </div>
        <button appButton (click)="onOpenDetails()">Wyświetl informacje</button>
    </div>
</div>