.container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    font-family: 'PTSans';
}

.info {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    justify-content: space-between;
}

@media (orientation: landscape) {
    .container {
        padding: 0 calc(20px + 0.5vw);;
    }   
    
    .content {
        width: calc(70% + 1.5vw);
    }

    button {
        align-self: center;
        width: calc(90px + 0.5vw);
    }
}

@media (orientation: portrait) {
    .container {
        padding: 0 calc(10px + 0.5vh);
    }   

    .info {
        flex-direction: column;
    }

    .content {
        font-size: calc(3px + 0.5vh + 1vw);
    }

    h1 {
        margin: 10px 0;
        font-size: calc(20px + 0.5vh + 1vw);
    }

    .content p {
        margin: 0;
    }

    button {
        align-self: flex-end;
        margin: 10px 0;
        height: calc(25px + 1vh);
    }
}