<div class="container">
    <a *ngIf="activePage !== 'main-page'" [routerLink]="['main-page']">
        Wróć do strony głównej
    </a>
    <div class="search-panel" *ngIf="activePage === 'main-page'" >
        <input 
            class="search-bar" 
            appInput 
            placeholder="Wyszukaj wydarzenie..."
            [(ngModel)]="searchPhrase"
            (ngModelChange)="onChangePhrase()"
        >
        <div class="search-by-date">
            <div class="input-box">
                <label>Od</label>
                <input 
                    type="date" 
                    [(ngModel)]="searchPeriod[0]"
                    (ngModelChange)="onChangePeriod()"
                >
            </div>
            <div class="input-box">
                <label>Do</label>
                <input 
                    type="date"
                    [(ngModel)]="searchPeriod[1]"
                    (ngModelChange)="onChangePeriod()"
                >
            </div>
        </div>
    </div>
    <div class="btn-box">
        <button>
            <img src="../../assets/icons/chat-icon.svg">
        </button>
        <button>
            <img src="../../assets/icons/notification-icon.svg">
        </button>
        <button *ngIf="activePage === 'user-panel'">
            <img src="../../assets/icons/settings-icon.svg">
        </button>
        <button *ngIf="activePage !== 'user-panel'" (click)="onUserPanel()">
            <img src="../../assets/icons/user-icon.svg">
        </button>
        <button *ngIf="activePage !== 'calendar'" (click)="onCalendarPage()">
            <img src="../../assets/icons/calendar-icon.svg">
        </button>
        <button (click)="onLogout()">
            <img src="../../assets/icons/logout-icon.svg">
        </button>
    </div>
</div>
