<div class="container" *ngIf="activeUser$ | async as activeUser">
    <a *ngIf="activePage !== 'main-page'" [routerLink]="['main-page']">
        Wróć do strony głównej
    </a>
    <div class="search-panel" *ngIf="activePage === 'main-page'" >
        <input 
            class="search-bar" 
            appInput 
            placeholder="Wyszukaj wydarzenie..."
            [(ngModel)]="searchPhrase"
            (ngModelChange)="onChangePhrase()"
        >
        <div class="search-by-date">
            <div class="input-box">
                <label>Od</label>
                <input 
                    type="date" 
                    [(ngModel)]="searchPeriod[0]"
                    (ngModelChange)="onChangePeriod()"
                >
            </div>
            <div class="input-box">
                <label>Do</label>
                <input 
                    type="date"
                    [(ngModel)]="searchPeriod[1]"
                    (ngModelChange)="onChangePeriod()"
                >
            </div>
        </div>
    </div>
    <div class="btn-box">
        <button>
            <img src="../../assets/icons/chat-icon.svg">
        </button>
        <button class="notification-btn" *ngIf="activePage !== 'notifications'" (click)="onNotificationPage()">
            <img src="../../assets/icons/notification-icon.svg">
            <div *ngIf="activeUser.notifications.length > 0" class="notification-info">
                <p>{{ activeUser.notifications.length }}</p>
            </div>
        </button>
        <button *ngIf="activePage !== 'calendar'" (click)="onCalendarPage()">
            <img src="../../assets/icons/calendar-icon.svg">
        </button>
        <button (click)="onDisplayMenu()">
            <img 
                class="profile-image"
                [src]="activeUser.profileImageUrl"
            >
        </button>
    </div>
</div>

<div class="menu" *ngIf="isMenuActive" appWidget>
    <button (click)="onSettingsPanel()">
        Ustawienia konta
    </button>
    <button (click)="onUserPanel()">
        Moje wydarzenia
    </button>
    <button (click)="onLogout()">
        Wyloguj się
    </button>
</div>
