<div class="container">
    <a *ngIf="activePage !== 'main-page'" [routerLink]="['main-page']">
        Wróć do strony głównej
    </a>
    <input *ngIf="activePage === 'main-page'" appInput placeholder="Wyszukaj wydarzenie...">
    <div class="btn-box">
        <button>
            <img src="../../assets/icons/chat-icon.svg">
        </button>
        <button>
            <img src="../../assets/icons/notification-icon.svg">
        </button>
        <button *ngIf="activePage === 'user-panel'">
            <img src="../../assets/icons/settings-icon.svg">
        </button>
        <button *ngIf="activePage !== 'user-panel'" (click)="onUserPanel()">
            <img src="../../assets/icons/user-icon.svg">
        </button>
        <button>
            <img src="../../assets/icons/calendar-icon.svg">
        </button>
        <button (click)="onLogout()">
            <img src="../../assets/icons/logout-icon.svg">
        </button>
    </div>
</div>
