.container{
    display: flex;
    background-color: var(--darkRed);
    height: 8vh;
    width: 100%;
}

.search-bar {
    width: 20vw;
    height: 50%;
    margin: 15px;
}

a {
    padding: 15px;
    color: white;
    font-family: 'PTSans';
    cursor: pointer;
    text-decoration: underline;
}

.btn-box{
    display: flex;
    justify-content: end;
    gap: 5px;
    margin: 5px 10px 5px 2vw;
}

.profile-image {
    background-color: #dddddd;
    border-radius: 50%;
    height: 100%;
}

.btn-box button {
    border: none;
    background-color: transparent;
    height: 90%;
    padding: 0;
    width: 18%;
}

.btn-box button img {
    width: 80%;
    height: 100%;
}

.search-panel {
    display: flex;
}

.search-by-date {
    display: flex;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    color: white;
    font-family: 'PTSans';
    font-size: 10px;
}

.input-box input {
    background-color: var(--darkRed);
    color: white;
    border: none;
    font-size: 10px;
}

.menu {
    z-index: 2;
    width: 150px;
    height: 80px;
    position: absolute;
    right: 15px;
    top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu button {
    border: none;
    background-color: transparent;
    font-family: 'PTSans';
}

.menu button:hover {
    background-color: var(--darkBeige);
}

@media (orientation: landscape) {
    .container{
        justify-content: end;
    }

    .btn-box {
        width: 23vw;
    }
}

@media (orientation: portrait) {
    .container{
        justify-content: space-between;
    }

    .search-panel {
        flex-direction: row-reverse;
    }

    .search-bar {
        width: 30vw;
    }

    .search-by-date {
        width: 15vw;
        flex-direction: column;
        margin: 2px 5px;
    }

    .input-box {
        height: 40%;
        margin: 2px 0;
    }

    .btn-box{
        width: 40vw;
        height: 70%;
        margin-top: 10px;
    }

    .btn-box button {
        height: 100%;
        width: 25%;
    }

    .profile-image {
        height: 60%;
    }
}