.container {
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

button {
    font-family: 'PTSans';
    cursor: pointer;
}

.widget {
    width: calc(300px + 10vw);
    height: calc(300px + 15vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(5px + 0.4vh);
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: calc(70% + 1.5vw);
}

.input-box label {
    font-size: calc(10px + 1vh);
}

.input-box input {
    height: calc(10px + 3vh);
    font-size: calc(10px + 1vh);
}

.btn-box {
    width: calc(70% + 1.5vw);
    height: calc(25px + 3vh);
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.btn-box button {
    font-size: calc(10px + 1vh);
    height: 100%;
}

.alternative-btn-box {
    width: calc(70% + 1.5vw);
    display: flex;
    justify-content: space-between;
}

.alternative-btn-box button {
    border: none;
    background-color: transparent;  
}

.alternative-btn-box button img {
    width: calc(30px + 3vh);
    height: calc(30px + 3vh);
}

.alternative-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alternative-login p {
    margin: 5px 0 15px 0;
    font-size: calc(10px + 1vh);
}

.alternative-login .btn-box button {
    background-color: transparent;
    border: none;
}

.forgot-password {
    font-size: calc(10px + 0.8vh);
}

@media (orientation: portrait) {
    .widget {
        width: calc(50vw + 15vh);
    }
}