<div class="container">
    <div appWidget class="widget">
        <div class="input-box">
            <label>E-mail</label>
            <input appInput type="email" #email>
        </div>
        <div class="input-box">
            <label>Hasło</label>
            <input appInput type="password" #password>
        </div>
        <div class="btn-box">
            <button appButton (click)="onLogin(email.value, password.value)">Zaloguj się</button>
            <button appButton (click)="onRegister(email.value, password.value)">Zarejestruj się</button>
        </div>
        <div class="alternative-login">
            <p>Wybierz inną metodę logowania</p>
            <div class="btn-box">
                <button (click)="onGoogleLogin()">
                    <img width="30px" src="../../assets/icons/google-icon.png">
                </button>
                <button (click)="onFBLogin()">
                    <img width="30px" src="../../assets/icons/fb-icon.png">
                </button>
            </div>
        </div>
    </div>
</div>