<div class="container">
    <div appWidget class="widget">
        <div class="input-box">
            <label>E-mail</label>
            <input appInput type="email">
        </div>
        <div class="input-box">
            <label>Hasło</label>
            <input appInput type="password">
        </div>
        <div class="btn-box">
            <button appButton>Zaloguj się</button>
            <button appButton>Zarejestruj się</button>
        </div>
        <div class="alternative-login">
            <p>Wybierz inną metodę logowania</p>
            <div class="btn-box">
                <button>
                    <img width="30px" src="../../assets/icons/google-icon.png">
                </button>
                <button>
                    <img width="30px" src="../../assets/icons/fb-icon.png">
                </button>
            </div>
        </div>
    </div>
</div>