<div class="container" appContainer>
    <form appWidget (ngSubmit)="onSubmit(eventForm)" #eventForm="ngForm">
        <div class="inputs-box">
            <p *ngIf="errorMsg.length > 0"> {{ errorMsg }} </p>
            <div class="input-box">
                <label>Nazwa</label>
                <input 
                    type="text"
                    [ngModel]="editMode ? editedEvent.name : ''"
                    name="name"
                    required
                    appInput
                >
            </div>
            <div class="input-box">
                <label>Opis</label>
                <textarea 
                    [ngModel]="editMode ? editedEvent.description : ''"
                    rows="3"
                    name="description"
                    required
                    appInput
                ></textarea>
            </div>
            <div class="input-box">
                <label>Data</label>
                <input 
                    appInput 
                    type="date"
                    [ngModel]="editMode ? editedEvent.date : ''"
                    name="date"
                    required
                >
            </div>
            <div class="input-box">
                <label>Miejsce</label>
                <input 
                    appInput
                    type="text"
                    [ngModel]="editMode ? editedEvent.place : ''"
                    name="place"
                    required
                >
            </div>
            <div class="input-box">
                <label>Maksymalna ilość członków</label>
                <input 
                    appInput 
                    type="number"
                    [ngModel]="editMode ? editedEvent.membersAmount : ''"
                    name="membersAmount"
                    required
                    min="2"
                >
            </div>
            <div class="input-box">
                <label>Dostęp</label>
                <select
                    appInput
                    name="access"
                    [ngModel]="editMode ? editedEvent.access : ''"
                    required
                >
                    <option>Publiczne</option>
                    <option>Prywatne</option>
                </select>
            </div>
        </div>
        <div class="btn-box">
            <button type="submit" appButton>{{ editMode ? 'Edytuj' : 'Dodaj' }}</button>
            <button type="button" (click)="onGoBack()" appButton>Anuluj</button>
        </div>
    </form>
</div>