.container {
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: calc(300px + 20vh - 4vw);
    align-items: center;
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: calc(1em - 0.2vw);
}

.inputs-box {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 85%;
    align-items: flex-start;
    justify-content: center;
    gap: calc(5px + 1vh - 0.5vw);
}

input, textarea {
    width: 100%;
    font-size: calc(1em - 0.2vw);
}

input, select {
    height: calc(1.3em + 1.0vh);
}

textarea {
    resize: none;
}

.btn-box {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    height: 10%;
    padding: 2vh;
}

button {
    width: 70px;
}

.radio-input {
    display: flex;
}

p {
    color: red;
}

@media (orientation: portrait) {
    form {
        width: 80%;
    }
}