.container{
    align-items: center;
}

.events-list {
    width: 70%;
    height: 100%;
    overflow-y: auto;
    padding-right: 5px;
}

.events-list::-webkit-scrollbar { 
    display: none; 
}

.add-btn {
    display: flex;
    align-items: center;
    position: fixed;
    border: none;
    border-radius: 50%;
    background-color: var(--darkRed);
    color: white;
    font-size: 100px;
}

.add-btn img {
    width: 100%;
}

@media (orientation: landscape) {
    .add-btn {
        width: calc(40px + 5vh);
        height: calc(40px + 5vh);
        bottom: 30px;
        right: 30px;
    }
}

@media (orientation: portrait) {
    .add-btn {
        width: calc(40px + 2vh + 5vw);
        height: calc(40px + 2vh + 5vw);
        bottom: calc(20px + 2vh);
        right: calc(5px + 5vw);
    }
}