.container {
    padding: 0 20px;
}

.notifications-list {
    height: 80%;
    overflow-y: auto;
}

.notification {
    padding: 0 15px;
    display: flex;
    margin: 15px 0;
    justify-content: space-between;
}

.notification h3 {
    padding-top: 5px;
    margin: 0;
}

.notification p {
    padding-bottom: 10px;
    margin: 0;
}

.btn-box {
    align-self: center;
    display: flex;
    gap: 10px;
    height: 30px;
}

@media (orientation: portrait) {
    .notification {
        flex-direction: column;
    }

    .btn-box {
        align-self: flex-end;
        margin-bottom: 10px;
    }
}