<div class="container" appContainer>
    <h1> Powiadomienia </h1>
    <div class="notifications-list">
        <div class="notification" appWidget>
            <h3>Nazwa</h3>
            <p>blablablablablablablablab</p>
        </div>
        <div class="notification" appWidget>
            <h3>Nazwa</h3>
            <p>blablablablablablablablab</p>
        </div>
        <div class="notification" appWidget>
            <h3>Nazwa</h3>
            <p>blablablablablablablablab</p>
        </div>
        <div class="notification" appWidget>
            <h3>Nazwa</h3>
            <p>blablablablablablablablab</p>
        </div>
    </div>
</div>
