.container {
    padding: 0 20px;
}

.notifications-list {
    height: 80%;
    overflow-y: auto;
}

.notification {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.notification h3 {
    padding-top: 5px;
    margin: 0;
}

.notification p {
    padding-bottom: 10px;
    margin: 0;
}