/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

:root {
    --beige: #F9F4EE;
    --darkRed: #A40B02;
    --darkBeige: rgb(187, 159, 120);
}

@font-face {
    font-family: 'PTSans';
    src: url('./assets/fonts/PTSans-Regular.ttf');
}

button {
    cursor: pointer;
}